<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

# Lecture 9: Functions

Associated Textbook Sections: [8.0, 8.1](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)

<h2>Set Up the Notebook<h2>

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lecture-9:-Functions" data-toc-modified-id="Lecture-9:-Functions-1">Lecture 9: Functions</a></span><ul class="toc-item"><li><span><a href="#Set-Up-the-Notebook" data-toc-modified-id="Set-Up-the-Notebook-1.1">Set Up the Notebook</a></span></li><li><span><a href="#" data-toc-modified-id="-1.2"></a></span></li><li><span><a href="#Defining-Functions" data-toc-modified-id="Defining-Functions-1.3">Defining Functions</a></span><ul class="toc-item"><li><span><a href="#def-Statements" data-toc-modified-id="def-Statements-1.3.1"><code>def</code> Statements</a></span></li><li><span><a href="#Demo:-Functions" data-toc-modified-id="Demo:-Functions-1.3.2">Demo: Functions</a></span></li><li><span><a href="#Demo:-Scope" data-toc-modified-id="Demo:-Scope-1.3.3">Demo: Scope</a></span></li><li><span><a href="#Demo:-Type-Agnostic" data-toc-modified-id="Demo:-Type-Agnostic-1.3.4">Demo: Type Agnostic</a></span></li><li><span><a href="#Demo:-Multiple-Arguments" data-toc-modified-id="Demo:-Multiple-Arguments-1.3.5">Demo: Multiple Arguments</a></span></li></ul></li><li><span><a href="#Apply" data-toc-modified-id="Apply-1.4">Apply</a></span><ul class="toc-item"><li><span><a href="#Apply" data-toc-modified-id="Apply-1.4.1">Apply</a></span></li><li><span><a href="#Demo:-Apply" data-toc-modified-id="Demo:-Apply-1.4.2">Demo: Apply</a></span></li></ul></li></ul></li></ul></div>

## Defining Functions

### `def` Statements

User-defined functions give names to blocks of code.

<img src="./img/def_statements.png" width = 80%>

### Demo: Functions

Create a simple function with one argument and demonstrate using it.

In [6]:
def triple(x):
    return 3 * x

num = 7
print(triple(3))
print(triple(num))
print(triple(num + 2))

9
21
27

### Demo: Scope

Illustrate the concept of scope using functions.

In [8]:
x

NameError: name 'x' is not defined

In [10]:
x = 5
print(triple(2*x))
print(x)

30
5

In [11]:
def a_function(input):
    new_variable = 3 + input
    return new_variable

new_variable

NameError: name 'new_variable' is not defined

In [12]:
an_input = 1
a_function(an_input)

4

In [13]:
r = a_function(7)
print(r*2)

20

### Demo: Type Agnostic

Show that Python functions are type agnostic.

In [14]:
triple('ha')

'hahaha'

In [18]:
triple(make_array(2, 4, 6, 8))

array([ 6, 12, 18, 24])

### Demo: Multiple Arguments

Create a function with multiple arguments.

In [19]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    return hypot_squared ** 0.5

hypotenuse(9, 12)

15.0

In [23]:
def spread(minimum, maximum):
    return maximum - minimum

print(spread(5, 10))
print(spread(10, 5))
maximum = 50
minimum = 20
print(spread(maximum, minimum))

5
-5
-30

## Apply

### Apply

* The apply method creates an array by calling a function on every element in input column(s)
    * First argument: The function to apply
    * Other arguments: The input column(s)
* Example application: `table_name.apply(function_name, 'column_label')`

### Demo: Apply

Show how to apply a function to a table.

In [24]:
ages = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
ages

Person  | Birth Year
Jim     | 1985
Pam     | 1988
Michael | 1967
Creed   | 1904

In [27]:
def cap_at_1980(x):
    return min(x, 1980)

print(cap_at_1980(1975))
print(cap_at_1980(1991))

1975
1980

In [28]:
ages.apply(cap_at_1980, 'Birth Year')

array([1980, 1980, 1967, 1904])

In [29]:
ages.apply(cap_at_1980, 'Person')

TypeError: '<' not supported between instances of 'int' and 'numpy.str_'

In [31]:
ages

Person  | Birth Year
Jim     | 1985
Pam     | 1988
Michael | 1967
Creed   | 1904

In [34]:
def name_and_age(name, year):
    age = 2022 - year
    return name + ' is ' + str(age)

a = ages.apply(name_and_age, 'Person', 'Birth Year')
print("Result is:")
print(a)

Result is:
['Jim is 37' 'Pam is 34' 'Michael is 55' 'Creed is 118']

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>