<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

<h1>Lecture 03: Tables</h1>

Associated Textbook Sections: [3.0, 3.1, 3.2, 3.3, 3.4](https://inferentialthinking.com/chapters/03/programming-in-python.html)

<h2>Set Up the Notebook<h2>

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lecture-03:-Tables" data-toc-modified-id="Lecture-03:-Tables-1">Lecture 03: Tables</a></span><ul class="toc-item"><li><span><a href="#Set-Up-the-Notebook" data-toc-modified-id="Set-Up-the-Notebook-1.1">Set Up the Notebook</a></span></li><li><span><a href="#" data-toc-modified-id="-1.2"></a></span></li><li><span><a href="#Python" data-toc-modified-id="Python-1.3">Python</a></span><ul class="toc-item"><li><span><a href="#Python-3.9" data-toc-modified-id="Python-3.9-1.3.1">Python 3.9</a></span></li><li><span><a href="#Demo:-Arithmetic-in-Python" data-toc-modified-id="Demo:-Arithmetic-in-Python-1.3.2">Demo: Arithmetic in Python</a></span></li></ul></li><li><span><a href="#Names" data-toc-modified-id="Names-1.4">Names</a></span><ul class="toc-item"><li><span><a href="#Assignment-Statements" data-toc-modified-id="Assignment-Statements-1.4.1">Assignment Statements</a></span></li><li><span><a href="#Demo:-Names" data-toc-modified-id="Demo:-Names-1.4.2">Demo: Names</a></span></li><li><span><a href="#Demo:-Why-Names?" data-toc-modified-id="Demo:-Why-Names?-1.4.3">Demo: Why Names?</a></span></li></ul></li><li><span><a href="#Functions" data-toc-modified-id="Functions-1.5">Functions</a></span><ul class="toc-item"><li><span><a href="#Anatomy-of-a-Call-Expression" data-toc-modified-id="Anatomy-of-a-Call-Expression-1.5.1">Anatomy of a Call Expression</a></span></li><li><span><a href="#Anatomy-of-a-Call-Expression---Multiple-Arguments" data-toc-modified-id="Anatomy-of-a-Call-Expression---Multiple-Arguments-1.5.2">Anatomy of a Call Expression - Multiple Arguments</a></span></li><li><span><a href="#Demo:-Functions-and-Call-Expressions" data-toc-modified-id="Demo:-Functions-and-Call-Expressions-1.5.3">Demo: Functions and Call Expressions</a></span></li></ul></li><li><span><a href="#Tables" data-toc-modified-id="Tables-1.6">Tables</a></span><ul class="toc-item"><li><span><a href="#Table-Structure" data-toc-modified-id="Table-Structure-1.6.1">Table Structure</a></span></li><li><span><a href="#Demo:-Tables" data-toc-modified-id="Demo:-Tables-1.6.2">Demo: Tables</a></span></li><li><span><a href="#Demo:-Searching-and-Sorting" data-toc-modified-id="Demo:-Searching-and-Sorting-1.6.3">Demo: Searching and Sorting</a></span></li><li><span><a href="#Some-Table-Operations" data-toc-modified-id="Some-Table-Operations-1.6.4">Some Table Operations</a></span></li></ul></li></ul></li></ul></div>

## Python

### Python 3.9

* Python is popular both for data science & general software development
* Mastering the language fundamentals is critical
* Learn through practice, not by reading or listening
* Follow along with the Live Demo Notebook posted in the Canvas Lecture pages. 
* The lecture notebooks contain coding demonstrations. 
    * The lecture templates notebooks show the code partial completed, and I'll complete those during the lecture. 
    * You can follow along with your own copy of notebook to help the lectures feel more interactive and to get more practice with the language. 
    * A complete version of the meeting's notebook will be shared on Canvas.

### Demo: Arithmetic in Python

Explore a few basic arithmetic operations, including exponentiation.

In [9]:
print(2*9)
print(5/3)
print(5//3)
print(5%3)
print(2**3)

18
1.6666666666666667
1
2
8

## Names

### Assignment Statements

<img src="./img/assignment_statements.png" width = 50%>

* Statements don't have a value; they perform an action
* An assignment statement changes the meaning of the name to the left of the = symbol
* The name is bound to a value (not an equation)

### Demo: Names

Define a few names, apply them to create arithmetic operations, and differentiate between names and strings.

In [14]:
int_div_examp = 5//3
x = "hello"
y = 'another one'
z = '''the class' favorite'''
long_string = y + ' ' + z
print(int_div_examp)
print(long_string)

1
another one the class' favorite

### Demo: Why Names?

See how helpful choices of names can help you and others navigate your code.

## Functions

### Anatomy of a Call Expression

<img src="./img/anatomy_of_a_call_expression.png" width = 50%>

"Call `f` on 27."

### Anatomy of a Call Expression - Multiple Arguments

<img src="./img/anatomy_of_a_call_expression_multiple_arguments.png" width = 50%>

### Demo: Functions and Call Expressions

Use a few built in functions that have 1 or more arguments.

In [20]:
a = abs(10 - 20)
m = min(5, 10 * 0.5, 3)
r = round(7.55555, 1)
r_1 = round(1234, -3)
print(a)
print(m)
print(r)
print(r_1)

10
3
7.6
1000

Find the help documentation on the `round` function and explore the arguments with default values. Notice that you can explicitly specify argument values, but python can also know what to do based on the position of the values.

## Tables

### Table Structure

* A Table is a sequence of labeled columns
* Each row represents one individual
* Data within a column represents one attribute of the individuals

<img src="./img/table_structure.png" width=80%>

### Demo: Tables

Import and explore the Ice Cream cone table using `read_table`, `show`, `select`, `drop`, `where`, and `sort`. Make sure to create an error where the column name was used incorrectly.

In [41]:
cones = Table.read_table('cones.csv')
#.csv stands for 'comma-seperated values'
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [30]:
cones.select('Flavor')
F = 'Flavor'
cones.select(F, 'Price')
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

### Demo: Searching and Sorting

Import the skyscrapers data from `skyscrapers_v2.csv` and create a table showing all the New York City skyscrapers sorted by the year they were completed from newest to oldest.

In [37]:
cones.where('Flavor', 'chocolate')
cones.sort('Price', descending = True)
#True is a boolean value

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

### Some Table Operations

* `tbl.select(col1, col2, ...)` - constructs a new table with just the specified columns
* `tbl.drop(col1, col2, ...)` - constructs a new table in which the specified columns are omitted
* `tbl.sort(column_name_or_index)` - constructs a new table with rows sorted by the specified column
* `tbl.where(column, predicate)` - constructs a new table with just the rows that match the condition/predicate

In [39]:
* [Python Reference](https://ccsf-math-108.github.io/materials-sp22/python-reference.html) - A student created reference guide for the commonly used operations in the course
* [`datascience` Documentaiton](https://datascience.readthedocs.io/)

SyntaxError: invalid syntax (770472468.py, line 1)

In [44]:
skyscrapers = Table.read_table('skyscrapers_v2.csv')
skyscrapers.where('city', 'New York City').sort('completed')

name                          | material | city          | height | completed
Statue of Liberty             | steel    | New York City | 93     | 1886
Park Place Tower              | steel    | New York City | 88.7   | 1895
Bank of Tokyo Building        | steel    | New York City | 103    | 1896
Park Row Building             | steel    | New York City | 119.18 | 1899
Bayard-Condict Building       | steel    | New York City | 49.38  | 1899
Flatiron Building             | steel    | New York City | 86.87  | 1902
Macy's Store                  | steel    | New York City | 60.96  | 1902
Wall Street Exchange Building | steel    | New York City | 103.9  | 1903
43 Exchange Place             | steel    | New York City | 99.67  | 1903
Trinity Building              | steel    | New York City | 106.68 | 1905
... (521 rows omitted)

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>