<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

# Lecture 11: Joins

Associated Textbook Sections: [8.4](https://inferentialthinking.com/chapters/08/4/Joining_Tables_by_Columns.html)

<h2>Set Up the Notebook<h2>

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
#import warnings
#warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lecture-11:-Joins" data-toc-modified-id="Lecture-11:-Joins-1">Lecture 11: Joins</a></span><ul class="toc-item"><li><span><a href="#Set-Up-the-Notebook" data-toc-modified-id="Set-Up-the-Notebook-1.1">Set Up the Notebook</a></span></li><li><span><a href="#" data-toc-modified-id="-1.2"></a></span></li><li><span><a href="#Cross-Classification" data-toc-modified-id="Cross-Classification-1.3">Cross-Classification</a></span></li><li><span><a href="#Joins" data-toc-modified-id="Joins-1.4">Joins</a></span><ul class="toc-item"><li><span><a href="#Joining-Two-Tables" data-toc-modified-id="Joining-Two-Tables-1.4.1">Joining Two Tables</a></span></li><li><span><a href="#Demo:-Joins" data-toc-modified-id="Demo:-Joins-1.4.2">Demo: Joins</a></span></li></ul></li></ul></li></ul></div>

## Cross-Classification

For cross-classification:

* Grouped Table
    * One combo of grouping variables per row
    * Any number of grouping variables
    * Aggregate values of all other columns in table
    * Missing combos absent
* Pivot Table
    * One combo of grouping variables per entry
    * Two grouping variables: columns and rows
    * Aggregate values of values column
    * Missing combos = 0 (or empty string)

## Joins

### Joining Two Tables

To join information in table called `discounts` with a table called `drinks` where the matching values are in the columns `'location'` and `'cafe'`, respectively, use the command:

<img src="./img/join_command.png" width = 70%>

The following graph shows how the `drinks` and `discounts` tables are joined.

<img src="./img/join_example_table.png" width = 90%>

### Demo: Joins

Create the `drinks` and `discounts` tables.

In [2]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

In [3]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

Coupon % off | Location
10           | Asha
25           | Strada
5            | Asha

Join `discounts` with `drinks` based on the values in `Location` and `Cafe`, respectively.

In [8]:
combined  = drinks.join('Cafe', discounts, 'Location')
combined

Cafe   | Drink    | Price | Coupon % off
Asha   | Milk Tea | 5.5   | 10
Asha   | Milk Tea | 5.5   | 5
Strada | Espresso | 1.75  | 25
Strada | Latte    | 3.25  | 25

In [5]:
discounts.join('Location', drinks, 'Cafe')

Location | Coupon % off | Drink    | Price
Asha     | 10           | Milk Tea | 5.5
Asha     | 5            | Milk Tea | 5.5
Strada   | 25           | Espresso | 1.75
Strada   | 25           | Latte    | 3.25

Add a `'Discounted Price'` column to the table showing the updated drink price after the coupon has been applied.

In [9]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column('Discounted Price', combined.column('Price') * discounted_frac)

Cafe   | Drink    | Price | Coupon % off | Discounted Price
Asha   | Milk Tea | 5.5   | 10           | 4.95
Asha   | Milk Tea | 5.5   | 5            | 5.225
Strada | Espresso | 1.75  | 25           | 1.3125
Strada | Latte    | 3.25  | 25           | 2.4375

See what happens when you join tables with the same labels.

In [10]:
drinks.join('Cafe', drinks, 'Cafe')

Cafe   | Drink    | Price | Drink_2  | Price_2
Asha   | Milk Tea | 5.5   | Milk Tea | 5.5
FSM    | Espresso | 2     | Espresso | 2
Strada | Espresso | 1.75  | Espresso | 1.75
Strada | Espresso | 1.75  | Latte    | 3.25
Strada | Latte    | 3.25  | Espresso | 1.75
Strada | Latte    | 3.25  | Latte    | 3.25

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>