In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

<img style="display: block; margin-left: auto; margin-right: auto" src="./ccsf-logo.png" width="250rem;" alt="The CCSF black and white logo">

<div style="text-align: center;">
    <h1>Lab 04 - Table Operations</h1>
    <em>View the related <a href="https://ccsf.instructure.com" target="_blank">Canvas</a> Assignment page for additional details.</em>
</div>

Let's practice table operations!

Recommended Reading:
 * [Introduction to tables](https://www.inferentialthinking.com/chapters/03/4/Introduction_to_Tables)

First, run the following cell to set up the lab, and make sure you run the cell at the top of the notebook that initializes Otter.

In [ ]:
import numpy as np
from datascience import *

## Table Operations

The table `farmers_markets_fa22.csv` contains data on farmers' markets in the United States  (data collected [by the USDA](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).  Each row represents one such market.

Run the next cell to load the `farmers_markets` table.

In [ ]:
farmers_markets = Table.read_table('farmers_markets_fa22.csv')

Let's examine our table to see what data it contains.

### `show`

#### Task 1 üìçüîé

Use the method `show` to display the first 5 rows of `farmers_markets`. `tbl.show(3)` will show the first 3 rows of `tbl`. Be careful to not to call `.show()` without an argument. There is a lot of information in the farmers market table and showing it all will crash your kernel!

<!-- BEGIN QUESTION -->

In [ ]:
...

<!-- END QUESTION -->

Notice that some of the values in this table are missing, as denoted by `nan`. This means either that the value is not available (e.g. if we don‚Äôt know the market‚Äôs street address) or not applicable (e.g. if the market doesn‚Äôt have a street address). You'll also notice that the table has a large number of columns in it!

### `num_columns`

The table property `num_columns` returns the number of columns in a table. (A "property" is a variable in an object. It is referenced without parentheses.)

Example call: `<tbl>.num_columns`

#### Task 2 üìç

Use `num_columns` to find the number of columns in our farmers' markets dataset.

Assign the number of columns to `num_farmers_markets_columns`.

In [ ]:
num_farmers_markets_columns = ...
print("The table has", num_farmers_markets_columns, "columns in it!")

In [ ]:
grader.check("task_2")

### `num_rows`

Similarly, the property `num_rows` tells you how many rows are in a table. Run the following cell to see how that table property can be accessed.

In [ ]:
num_farmers_markets_rows = farmers_markets.num_rows
print("The table has", num_farmers_markets_rows, "rows in it!")

### `select`

Most of the columns are about particular products -- whether the market sells tofu, pet food, etc.  If we're not interested in that information, it just makes the table difficult to read.  This comes up more than you might think, because people who collect and publish data may not know ahead of time what people will want to do with it.

In such situations, we can use the table method `select` to choose only the columns that we want in a particular table. It takes any number of arguments. Each should be the name of a column in the table. It returns a new table with only those columns in it. The columns are in the order *in which they were listed as arguments*.

For example, the value of `farmers_markets.select("MarketName", "State")` is a table with only the name and the state of each farmers' market in `farmers_markets`.

#### Task 3 üìç

Use `select` to create a table with only the name, city, state, longitude (`x`), and latitude (`y`) of each market.  Assign that new table to the name `farmers_markets_locations`. 

Make sure to be exact when using column names with `select`; double-check capitalization! In this task, the order of the columns doesn't matter, but it might in future tasks!

In [ ]:
farmers_markets_locations = ...
farmers_markets_locations

In [ ]:
grader.check("task_3")

### `drop`

`drop` serves the same purpose as `select`, but it takes away the columns that you provide rather than the ones that you don't provide. Like `select`, `drop` returns a new table.

#### Task 4 üìç

Suppose you just didn't want the `FMID` and `updateTime` columns in `farmers_markets`.  Create a table that's a copy of the full `farmers_markets` but doesn't include those columns.  Name the resulting table `farmers_markets_without_fmid`.

In [ ]:
farmers_markets_without_fmid = ...
farmers_markets_without_fmid

In [ ]:
grader.check("task_4")

### `sort`

Now, suppose we want to answer some questions about farmers' markets in the US. For example, which market(s) have the largest longitude (given by the `x` column)? 

To answer this, we'll sort `farmers_markets_locations` by longitude.

In [ ]:
farmers_markets_locations.sort('x')

Oops, that didn't answer our question because we sorted from smallest to largest longitude. To look at the largest longitudes, we'll have to sort in reverse order.

In [ ]:
farmers_markets_locations.sort('x', descending=True)

(The `descending=True` bit is called an *optional argument*. It has a default value of `False`, so when you explicitly tell the function `descending=True`, then the function will sort in descending order.)

Some details about sort:

1. The first argument to `sort` is the name of a column to sort by.
2. If the column has text in it, `sort` will sort alphabetically; if the column has numbers, it will sort numerically.
3. The value of `farmers_markets_locations.sort("x")` is a *copy* of `farmers_markets_locations`; the `farmers_markets_locations` table doesn't get modified. For example, if we called `farmers_markets_locations.sort("x")`, then running `farmers_markets_locations` by itself would still return the unsorted table.
4. Rows always stick together when a table is sorted.  It wouldn't make sense to sort just one column and leave the other columns alone.  For example, in this case, if we sorted just the `x` column, the farmers' markets would all end up with the wrong longitudes.

#### Task 5 üìç

Create a version of `farmers_markets_locations` that's sorted by **latitude (`y`)**, with the largest latitudes first.  Call it `farmers_markets_locations_by_latitude`.

In [ ]:
farmers_markets_locations_by_latitude = ...
farmers_markets_locations_by_latitude

In [ ]:
grader.check("task_5")

### `where`

Now let's say we want a table of all farmers' markets in California. Sorting won't help us much here because California  is closer to the middle of the dataset.

Instead, we use the table method `where`.

In [ ]:
california_farmers_markets = farmers_markets_locations.where('State', are.equal_to('California'))
california_farmers_markets

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`california_farmers_markets`** to a table whose rows are the rows in the **`farmers_markets_locations`** table **`where`** the **`'State'`**s **`are` `equal` `to` `California`**.

Let's dive into the details a bit more.  `where` takes 2 arguments:

1. The name of a column.  `where` finds rows where that column's values meet some criterion.
2. A predicate that describes the criterion that the column needs to meet.

The predicate in the example above called the function `are.equal_to` with the value we wanted, 'California'.  We'll see other predicates soon.

`where` returns a table that's a copy of the original table, but **with only the rows that meet the given predicate**.

#### Task 6 üìç

Use `california_farmers_markets` to create a table called `sf_markets` containing farmers' markets in San Francisco, California. These aren't all of the markets in the city, but they are the ones listed in USDA's data set.

In [ ]:
sf_markets = ...
sf_markets

In [ ]:
grader.check("task_6")

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

## Analyzing a Data Set

Now that you're familiar with table operations, answer a question about a data set!

Run the cell below to load the `imdb` table. It contains information about the 250 highest-rated movies on IMDb.

In [ ]:
imdb = Table.read_table('imdb_fa22.csv')
imdb

Often, we want to perform multiple operations - sorting, filtering, or others - in order to turn a table we have into something more useful. You can do these operations one by one, e.g.

```
first_step = original_tbl.where(‚Äúcol1‚Äù, are.equal_to(12))
second_step = first_step.sort(‚Äòcol2‚Äô, descending=True)
```

However, since the value of the expression `original_tbl.where(‚Äúcol1‚Äù, are.equal_to(12))` is itself a table, you can just call a table method on it:

```
original_tbl.where(‚Äúcol1‚Äù, are.equal_to(12)).sort(‚Äòcol2‚Äô, descending=True)
```
You should organize your work in the way that makes the most sense to you, using informative names for any intermediate tables you create.

### Task 7 üìç

1. Create a table of movies released between 2010 and 2022 (inclusive) with ratings above 8. The table should only contain the columns `Title` and `Rating`, **in that order**.
2. Assign the table to the name `above_eight`.

Think about the steps you need to take, and try to put them in an order that make sense. Feel free to create intermediate tables for each step, but please make sure you assign your final table the name `above_eight`!

In [ ]:
above_eight = ...
above_eight

In [ ]:
grader.check("task_7")

### Task 8 üìç

Use `num_rows` (and arithmetic) to find the *proportion* of movies in the dataset that were released 1900-1999, and the *proportion* of movies in the dataset that were released in the year 2000 or later. To help you think through this task, use the following steps to break up your code into sub tasks.

1. Assign `num_movies_in_dataset` to the number of rows in the table.
2. Assign `num_in_20th_century` to the number of rows in the table containing only the moves before the year 2000.
3. Assign `num_in_21st_century` to the number of rows in the table containing only the moves from the year 2000 or more current.
4. Assign `proportion_in_20th_century` to the proportion of movies in the dataset that were released before 2000
5. Assign `proportion_in_21st_century` to the proportion of movies in the dataset that were released in the year 2000 or later.

As a reminder, the *proportion* of movies released in the 1900's is the *number* of movies released in the 1900's, divided by the *total number* of movies.

In [ ]:
num_movies_in_dataset = ...
num_in_20th_century = ...
num_in_21st_century = ...
proportion_in_20th_century = ...
proportion_in_21st_century = ...
print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

In [ ]:
grader.check("task_8")

## Summary

For your reference, here's a table of all the functions and methods we saw in this lab. We'll learn more methods to add to this table in the coming week!

|Name|Example|Purpose|
|-|-|-|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|

# Submit your Lab to Canvas

Once you have finished working on the lab questions, prepare to submit your work in Canvas by completing the following steps.

1. Double-check that you have run the code cell near the end of the notebook that contains the command "grader.check_all()". This command will run all of the run tests on all your responses to the code questions.
2. Double-check that you have responded to all the open-response questions.
3. Select the menu items "File", "Save and Export Notebook As...", and "HTML (.html)" in the notebook's Toolbar to download an HTML version of this notebook file.
4. In the related Canvas Assignment, click Start Assignment or New Attempt to upload the downloaded HTML file.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()