<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

# Lecture 07: Building Tables

Associated Textbook Sections: [5.0, 5.1, 5.2, 5.3](https://inferentialthinking.com/chapters/05/Sequences.html)

## Overview

* [Creating Tables](#Creating-Tables)
* [Columns and Rows of Tables](#Columns-and-Rows-of-Tables)
* [Creating Tables by Example](#Creating-Tables-by-Example)
* [Exploring Skyscrapers](#Exploring-Skyscrapers)
* [Exploring Movies](#Exploring-Movies)

## Set Up the Notebook

In [ ]:
from datascience import *
import numpy as np

---

## Columns and Rows of Tables

* Columns:
    * Labeled NumPy arrays
    * Column labels are strings
    * All column values have the same data type
    * `t.select(column_labels_or_indexes)` - creates a table with the specified columns of table `t`.
    * `t.column(column_label_or_index)` - creates an array with the specified column information
* Rows:
    * `Row` data type (... kind of like a `list` where the items have labels)
    * `t.take(row_indexes)` - creates a table with the specified rows
    * `t.row(row_indexes)` - creates a row object with the specified rows

### Demo: Rows and Columns

Name the `skyscrapers` table.

In [ ]:
skyscrapers = Table.read_table('./data/skyscrapers_v2.csv')
skyscrapers

Compare the `select` and `column` table methods.

In [ ]:
...

In [ ]:
...

Compare the `row` and `take` table methods.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

Demonstrate how to use an array to use `take` with more than 1 row.

In [ ]:
...

---

## Creating Tables

Here are *some* of the ways that you will create a table in this class:
* `Table.read_table(filename)` - a table from a CSV file
* `Table()` - an empty table
* `select`, `drop`, `where`, `sort`, etc. - a table from existing tables
* `with_column` and `with_columns` - a table from an existing table with additional columns
* `with_row` and `with_rows` - a table from an existing table with additional rows

---

## Creating Tables by Example

### Demo: Using `read_table`

Use `read_table` to load the movie data in the CSV file `top_movies_1995_2022.csv` located in the `data` folder as a table called `movies`.

In [ ]:
movies = ...
movies

### Demo: Tables from Tables

Demonstrate how most (not all) of the table methods create a new table and do not modify the original table.

In [ ]:
...

In [ ]:
...

In [ ]:
movie_year = ...
movie_year

In [ ]:
movies_2000s = ...
movies_2000s

### Demo: Creating a Table from Scratch by Adding Columns and Rows

Create a table containing information on the major east-west streets north of the Ocean campus and how far they are from campus.

[Google Maps near CCSF - Ocean Campus](https://goo.gl/maps/QVR57VvqKWqLeSA9A)

In [ ]:
from IPython.display import IFrame
IFrame('https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6311.10985715617\
7!2d-122.4451173!3d37.7301236!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1675\
197446609!5m2!1sen!2sus', 600, 450)

In [ ]:
streets = ...
streets

In [ ]:
...

In [ ]:
northside = ...
northside

In [ ]:
...

In [ ]:
northside = ...
northside

In [ ]:
...

In [ ]:
...

In [ ]:
northside = ...
northside

Update `northside` to include Monterey by adding it using `with_row`.

In [ ]:
monterey_data = ...
monterey_data

In [ ]:
northside = ...
northside

Add multiple columns to a table using .with_columns

In [ ]:
streets = make_array('Judson', 'Staples', 'Flood', 'Hearst', 'Monterey')
blocks = np.arange(5)
northside_again = ...
northside_again

---

## Exploring Skyscrapers

Import the out-of-date data on skyscrapers from `skyscrapers_v2.csv` as a table and explore the San Francisco content of that table.

In [ ]:
skyscrapers = ...
skyscrapers

In [ ]:
sf = ...
sf = ...
sf

In [ ]:
...

Calculate the average height of the skyscrapers in the data set.

In [ ]:
...

In [ ]:
...

In [ ]:
average_height = ...
average_height

Add the Salesforce Tower to the table using [the information from Wikipedia](https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_San_Francisco) and observe how adding just one very tall building can drastically change the average height.

In [ ]:
sf_with_SFT = ...
sf_with_SFT

Demonstrate how the mean and median are impacted by adding one extreme value to the data set.

In [ ]:
average_height_with_SFT = ...
average_height_with_SFT

In [ ]:
percentage_increase_in_average_height = ...
print(f'That is a {str(round(percentage_increase_in_average_height, 2))} % increase.')

In [ ]:
median_height = ...
median_height_with_SFT = ...
percentage_increase_in_median_height = ...
print(f'That is a {str(round(percentage_increase_in_median_height, 2))} % increase.')

---

## Exploring Movies

Explore the `top_movies_1995_2022.csv` data set from [www.the-numbers.com/market](https://www.the-numbers.com/market/) trying to implement several of the methods and attributes seen so far.

In [ ]:
movies = ...
movies

Calculate the average ticket price and add that information to the table.

In [ ]:
total_gross = ...
number_of_tickets_sold = ...
ave_ticket_price = ...
ave_ticket_price

In [ ]:
movies = ...
movies

Practice filtering the data using the `where` and `take` table methods.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
sorted_movies = ...
top_5_movies = ...
top_5_movies

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>