<div style="width: 38.5%;">
    <p><strong>City College of San Francisco</strong><p>
    <hr>
    <p>MATH 108 - Foundations of Data Science</p>
</div>

# Lecture 06: Tables

Associated Textbook Sections: [3.4](https://inferentialthinking.com/chapters/03/4/Introduction_to_Tables.html)

## Overview

* [Tables](#Tables)
* [Table Properties](#Table-Properties)
* [Some Table Functions](#Some-Table-Functions)

## Set Up the Notebook

In [ ]:
from datascience import *
import numpy as np

## Tables

### Table Structure

* A `Table` is a sequence of labeled columns
* Each row represents one individual
* Data within a column represents one attribute of the individuals

<img src="./img/table_structure.png" alt="A table with the columns and rows indicated.">

### Demo: Tables

Import and explore the data in `states_area.csv` (source: [Wikipedia](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area)) using `read_table`, `show`, `select`, `drop`, `where`, and `sort.

In [ ]:
states = Table.read_table('./data/states_area.csv')
states

In [ ]:
...

## Table Properties

There are several properties about a table that you can extract directly from a table:
* `t.labels` - the labels of a table called `t`
* `t.num_columns` - the number of columns of a table
* `t.num_rows` - the number of rows of a table
* `t.rows` - a collection of all the rows in a table

### Demo: Table Attributes

There are various properties of a table that you can access as well using the dot notation such as `labels`, `num_columns`, and `num_rows`.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

## Some Table Functions

There is a collection of functions associated with `Table` data types.
* `t.show(n)` - displays the first `n` rows of a table called `t`
* `t.select(label)` - constructs a new table with just the specified columns
* `t.drop(label)` - constructs a new table in which the specified columns are omitted
* `t.sort(label)` - constructs a new table with rows sorted by the specified column
* `t.where(label, condition)` - constructs a new table with just the rows that match the condition
* More can be found in the [`datascience` documentation](https://datascience.readthedocs.io/en/master/tables.html)

### Demo: `show`

In [ ]:
...

In [ ]:
...

In [ ]:
# show(3) does not produce a Table
...

### Demo: `select`

Select columns using column labels and column indexes.

In [ ]:
...

In [ ]:
...

In [ ]:
# A NameError where the column name was used incorrectly.
...

In [ ]:
# A ValueError where the column name was used incorrectly.
...

### Demo: `drop`

Drop columns by name and by index.

In [ ]:
...

In [ ]:
...

### Demo: `sort`

Sort the data in the table by ascending and descending order.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

### Demo: `where`

Try to filter the data in the table using a few predicates with the where method.

In [ ]:
...

In [ ]:
...

In [ ]:
...

<footer>
    <hr>
    <p>Adopted from UC Berkeley DATA 8 course materials.</p>
    <p>This content is offered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution Non-Commercial Share Alike</a> license.</p>
</footer>