In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw04.ipynb")

<img style="display: block; margin-left: auto; margin-right: auto" src="./ccsf-logo.png" width="250rem;" alt="The CCSF black and white logo">

<div style="text-align: center;">
    <h1>Homework 4: Functions, Histograms, and Groups</h1>
    <em>View the related <a href="https://ccsf.instructure.com" target="_blank">Canvas</a> Assignment page for additional details.</em>
</div>

**Reading**: 

* [Visualizing Numerical Distributions](https://inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html) 
* [Functions and Tables](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.


**Throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the provided cells.

Run the following cell to import the relevant modules and settings.

In [ ]:
import numpy as np
from datascience import *
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## 1. Burrito-ful San Diego

Tam, Margaret and Winifred are trying to use Data Science to find the best burritos in San Diego! Their friends Irene and Maya provided them with two comprehensive datasets on many burrito establishments in the San Diego area taken from (and cleaned from): https://www.kaggle.com/srcole/burritos-in-san-diego/data

The following cell reads in a table called `ratings` which contains names of burrito restaurants, their Yelp rating, Google rating, as well as their Overall rating. It also reads in a table called `burritos_types` which contains names of burrito restaurants, their menu items, and the cost of the respective menu item at the restaurant.

In [ ]:
ratings = Table.read_table("ratings.csv")
ratings.show(5)
burritos_types = Table.read_table("burritos_types.csv")
burritos_types.show(5)

### Task 01 üìç

It would be easier if we could combine the information in both tables. Assign `burritos` to the result of joining the two tables together.

*Note: it doesn't matter which table you put in as the argument to the table method, either order will work for the autograder tests.*

*Hint: If you need refreshers on table methods, look at the course Python Reference.


_Points:_ 3

In [ ]:
burritos = ...
burritos.show(5)

In [ ]:
grader.check("task_01")

### Task 02 üìçüîé

<!-- BEGIN QUESTION -->

Let's look at how the Yelp scores compare to the Google scores in the `burritos` table. First, assign `yelp_and_google` to a table only containing the columns `Yelp` and `Google`. Then, make a scatter plot with Yelp scores on the x-axis and the Google scores on the y-axis. 


_Points:_ 1

In [ ]:
yelp_and_google = ...
...
# Don't change/edit/remove the following line.
# To help you make conclusions, we have plotted a straight line on the graph (y=x)
plt.plot(np.arange(2.5,5,.5), np.arange(2.5,5,.5));

<!-- END QUESTION -->

### Task 03 üìçüîé

<!-- BEGIN QUESTION -->

Looking at the scatter plot you just made, do you notice any pattern(s) (i.e. is one of the two types of scores consistently higher than the other one)? If so, describe them **briefly** in the cell below.


_Points:_ 1

_Type your answer here, replacing this text._

<!-- END QUESTION -->

Here's a refresher on how `.group` works! You can read how `.group` works in the [textbook](https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html), or you can view the video below. The video resource was made by Divyesh Chotai!

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("HLoYTCUP0fc")

### Task 04 üìç

From the `burritos` table, some of the restaurant locations have multiple reviews. Winifred thinks California burritos are the best type of burritos, and wants to see the average overall rating for California burritos at each location.

Create a table that has two columns: the name of the restaurant and the average overall rating of California burritos at each location.

As you work on this on this assignment, consider the following:

* There actually isn't specific review data on menu items, so assume that each California burrito review is the same as its associated restaurant review.
* The data is a bit messy and there are multiple representations of the world California, so use the predicate `are.equal_to('California')` to filter the data to exact matches of California burritos.
* You can break up the solution into multiple lines, as long as you assign the final output table to `california_burritos`! For reference however, the staff solution only used one line.


_Points:_ 3

In [ ]:
california_burritos = ...
california_burritos

In [ ]:
grader.check("task_04")

### Task 05 üìç

Given this new table `california_burritos`, Winifred can figure out the name of the restaurant with the highest overall average rating! Assign `best_restaurant` to a line of code that evaluates to a string that corresponds to the name of the restaurant with the highest overall average rating. 


_Points:_ 2

In [ ]:
best_restaurant = ...
best_restaurant

In [ ]:
grader.check("task_05")

### Task 06 üìç

Using the `burritos` table, assign `menu_average` to a table that has three columns that uniquely pairs the name of the restaurant, the menu item featured in the review, and the average Overall score for that menu item at that restaurant.

*Hint: Use .group, and remember that you can group by multiple columns. Here's an example from the [textbook](https://www.inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html)*.


_Points:_ 2

In [ ]:
menu_average = ...
menu_average

In [ ]:
grader.check("task_06")

### Task 07 üìçüîé

<!-- BEGIN QUESTION -->

Tam thinks that burritos in San Diego are cheaper (and taste better) than the burritos in Berkeley. Plot a histogram that visualizes that distribution of the costs of the burritos from San Diego in the `burritos` table. Also use the provided `bins` variable when making your histogram, so that visually the histogram is more informative.


_Points:_ 1

In [ ]:
bins = np.arange(0, 15, 1)
# Use the provided bins when you generate your histogram.
...

<!-- END QUESTION -->

## 2. San Francisco City Employee Salaries

This exercise is designed to give you practice with using the Table methods `.pivot` and `.group`.

Run the cell below to view a demo on how you can use pivot on a table. (Thank you to [Divyesh Chotai](https://www.linkedin.com/in/divyesh-taneja/)!)

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("4WzXo8eKLAg")

DataSF provides publically available data sets. For this portion of the homework you will focus on [Employee Compensation](https://data.sfgov.org/City-Management-and-Ethics/Employee-Compensation/88g8-5mnd) data provided by the SF Controller's Office. We have filtered it to retain just the relevant columns and restricted the data to the calendar year 2021. Run the following cell to load our data into a table called `full_sf`.

In [ ]:
full_sf = Table.read_table("sf2021.csv")\
               .select('Employee Identifier', 'Organization Group', 'Department', 'Job Family', 'Job', 'Salaries', 'Overtime', 'Total Benefits', 'Total Compensation')
full_sf.show(30)

The table has one row for each of the San Francisco government employees in 2021.

The first four columns describe the employee's job. For example, the employee in the third row of the table had a job called "IS Business Analyst-Senior". We will call this the employee's *position* or *job title*. The job was in a Job Family called Information Systems (hence the IS in the job title), and was in the Adult Probation Department that is part of the Public Protection Organization Group of the government. You will mostly be working with the `Job` column.

The next three columns contain the dollar amounts paid to the employee in the calendar year 2019 for salary, overtime, and benefits. Note that an employee's salary does not include their overtime earnings.

The last column contains the total compensation paid to the employee. It is the sum of the previous three columns:

$$\text{Total Compensation} = \text{Salaries} + \text{Overtime} + \text{Total Benefits}$$

For this homework, we will be using the following columns:
1. `Organization Group`: A group of departments. For example, the Public Protection Org. Group includes departments such as the Police, Fire, Adult Protection, District Attorney, etc.
2. `Department`: The primary organizational unit used by the City and County of San Francisco.
3. `Job`: The specific position that a given worker fills.
4. `Total Compensation`: The sum of a worker's salary, overtime, and benefits in 2019.


Run the following cell to select the relevant columns and create a new table named `sf`.

In [ ]:
sf = full_sf.select("Job", "Department", "Organization Group",  "Total Compensation")
sf.show(5)

We want to use this table to generate arrays with the job titles of the members of each `Organization Group`.

### Task 08 üìç

Set `job_titles` to a table with two columns. 
* The first column should be called "Organization Group".
* The first column should have the name of every "Organization Group" once
* The second column should be called "Jobs" with each row in that second column containing an *array* of the names of all the job titles within that "Organization Group". 
* Don't worry if there are multiple of the same job titles.

Consider a few things while working on this:
* Think about how `group` works: it collects values into an array and then applies a function to that array. We have defined two functions below for you, and you will need to use one of them in your call to `group`. 
* It might be helpful to create intermediary tables and experiment with the given functions.

_Points:_ 6

In [ ]:
# Pick one of the two functions defined below in your call to group.
def first_item(array):
    '''Returns the first item'''
    return array.item(0)

def full_array(array):
    '''Returns the array that is passed through'''
    return array 

# Make a call to group using one of the functions above when you define job_titles
job_titles = ...
job_titles

In [ ]:
grader.check("task_08")

---

Understanding the code you just wrote in the previous task is important for moving forward with the class! If you made a lucky guess, take some time to look at the code, step by step.

---

### Task 09 üìçüîé

<!-- BEGIN QUESTION -->

At the moment, the `Job` column of the `sf` table is not sorted (no particular order). Would the arrays you generated in the `Jobs` column of the previous question be the same if we had sorted alphabetically instead before generating them? Explain your answer. To receive full credit, your answer should reference
1. *how* the `.group` method works
2. *how* sorting the `Jobs` column would affect this.

Keep in mind that two arrays are the **same** if they contain the same number of elements and the elements located at corresponding indexes in the two arrays are identical. An example of arrays that are NOT the same: `array([1,2]) != array([2,1])`.


_Points:_ 2

_Type your answer here, replacing this text._

<!-- END QUESTION -->

### Task 10 üìç

Set `department_ranges` to a table containing departments as the rows, and the organization groups as the columns. The values in the rows should correspond to a total compensation range, where range is defined as the **difference between the highest total compensation and the lowest total compensation in the department for that organization group**.

Keep in mind the following while working on this:

* First you'll need to define a new function `compensation_range` which takes in an array of compensations and returns the range of compensations in that array.
* What table function allows you to specify the rows and columns of a new table? You probably watched a video on it earlier in the homework! 


_Points:_ 4

In [ ]:
# Define compensation_range first
...
    ...

department_ranges = ...
department_ranges

In [ ]:
grader.check("task_10")

### Task 11 üìçüîé

<!-- BEGIN QUESTION -->

Give an explanation as to why some of the row values are `0` in the `department_ranges` table from the previous question.


_Points:_ 1

_Type your answer here, replacing this text._

<!-- END QUESTION -->

### Task 12 üìç

<!-- BEGIN QUESTION -->

Find the number of departments appearing in the `sf` table that have an average total compensation of greater than 125,000 dollars; assign this value to the variable `num_over_125k`.

The variable names we've provided below are meant to help guide the intermediate steps and general thought process. Feel free to delete them if you'd prefer to start from scratch, but make sure your final answer is assigned to `num_over_125k`!

_Points:_ 2

In [ ]:
depts_and_comp = ...
avg_of_depts = ...
num_over_125k = ...
num_over_125k

In [ ]:
grader.check("task_12")

<!-- END QUESTION -->

# Submit your Homework to Canvas

Once you have finished working on the homework questions, prepare to submit your work in Canvas by completing the following steps.

1. Double-check that you have run the code cell near the end of the notebook that contains the command "grader.check_all()". This command will run all of the run tests on all your responses to the code questions.
2. Double-check that you have responded to all the open-response questions.
3. Select the menu item "File" and "Save Notebook" in the notebook's Toolbar to save your work and create a specific checkpoint in the notebook's work history.
4. Select the menu items "File", "Download Notebook" in the notebook's Toolbar to download the notebook (.ipynb) file. 
5. In the related Canvas Assignment, click Start Assignment or New Attempt to upload the downloaded .ipynb file.

**Keep in mind that the autograder does not always check for correctness. Sometimes it just checks for the format of your answer, so passing the autograder for a question does not mean you got the answer correct for that question.**

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()